*{margin:0;padding:0;}
.my_header{
	width: 100%;
	height: 180px;
	border: 0;
}
.container {
  width: 1300px;
	margin: 0 auto;
	align-items: center;
	line-height: 3;
}
.search-combobox{
	margin-left: 40px;
	display: flex;
	background-color: #fff;
	text-align:left;
	font-size: 14px;
	color: #000;
	/* align-items: center; */
}
.but{
	margin-left: 10px;
	margin-right: 10px;
	padding: 0 10px;
	background-color: #fff;
	border: 1.5px solid #CCE5FF;
	font-size: 12px;
	cursor: pointer;
}
.list{
	height: 125px;
	background-color: #f3f3f7;
}
.list-unstyled{
	padding-left: 40px;
	list-style: none;
	font-size: 14px;
}
.left-list{
	display: flex;
	justify-content: baseline;
		/* justify-content: center; */
	
}
.label{	padding-right: 25px;}
.left{
	display: flex;
	height: 30px;
	text-align: center;
}
.item{
	display: block;
	margin: 0 auto;
	padding: 0 10px; 
	padding-bottom: 10px;
	height: 30px;
	align-items: center;
	color: #000;
	text-decoration: none;
	line-height：30px;
	text-align: center;
}
.item:hover{
	color: #fff;
	background-color: #f00;
	border-radius: 4px;
	text-decoration: none;
	line-height：30px;   /* 文本在容器里水平居中*/
	text-align: center;
	
}
.sort{
	width: 100%;height: 30px;
	margin: 20px auto;   
	margin-bottom: 40px;
	background-color: #fff;
}
.sort-typse{
	display: block;
	margin: 0 auto;
	width: 8%; height: 30px;
	padding-bottom: 12px;
	border: 0.5px solid #CCE5FF;
	color: #000;
	text-decoration: none;  
	text-align: center;  
	float:left; 
	font-size: 15px;
  line-height：30px;
}
.sort-typse:hover{
	height: 30px;
	margin-top: -1px; 
	background: #fff; 
	border-bottom: 0.5px solid #fff;
	border-top: 1.5px solid #f00;
	color: #f00;
}





.banner{
	color: #000;
	display: flex;
	text-align: center;
}
.content_a{
	display: block;
	text-decoration: none;
}

.banner_left{
/* 	width: 100%; */
	width: 700px;
/* 	height: 247px; */
	height: auto;
/* text-align: center; */
	border: 1px solid #cac9ca;
	border-right: 0;
}
.logo img{
	/* 	vertical-align: middle; */
	margin-top: 50px;
	width: 50px;
	height: 50px;
}
.text {
/* 	display: inline-block; */
/* 	vertical-align: middle; */
	padding: 0 15px;
	line-height: 32px;
	font-size: 20px;

}
.official{
	display: inline-block;
	width: 40px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: 1px solid #EC3D42;
	color: #EC3D42;
	font-size: 14px;
	border-radius: 2px;
}
.link{
    width: 70px;
    height: 28px;
    margin: 34px auto 0;
    background-color: #ec3d42;
    color: #fff;
    line-height: 28px;
    text-align: center;
    border-radius: 2px;
		text-decoration: none;
}






.img{
	width: 100%; 
	/* box-sizing: content-box; */
	display: flex;
	margin: 0 auto;
/* 	margin-top: 20px;
	margin-bottom: 20px; */
	cursor: pointer;
}
.img_sty{
	width: 100%;
	display: flex;
	margin: 0 auto;
	border: 1px solid #000;
	cursor: pointer;
}
.font{
	width: 25%;
/* 	padding-right: 15px; */
	border-bottom: 1px solid #f3f3f7;
	border-right: 1px solid #f3f3f7;
	padding: 9.5px;
	margin-top: 20px;	
}
.img_sty1{
	width: 100%; 
/* 	margin-top: 30px;	 */
}
.details{
	font-size: 18px;
	color: #333;
/* 	font-weight: 600; */
	line-height: 21px;
	overflow: hidden;
	height: 42px;
	padding-left: 20px;
}
.price{
/* 	font-weight: 400; */
	color: #EC3D42;
	font-size: 30px;
	padding-left: 20px;
/* 	font-family: DIN_Condensed_Bold; */
}
.loading{
	width: 100%; height: 40px;
	display: inline-block;
	padding: 5px;
	background-color: #f3f3f7;
	border: 1px solid #e1e1ee;
	color: #adb1b9;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	margin: 20px auto; 
}

/* .foot{
	position: relative;
	margin-top: 1200px;
	margin-bottom: 100px;
} */