/* 头部导航栏 */
.index_head{
	background-color: #F1F1F1;
}
.index_head_a{
	color: #f00 !important;
}
.index_head>div ul{
	padding: 0 !important;
}
/* log 搜索框 导航 */
.index_search_input{
	margin-top: 35px;
}
.index_search div input{
	width: 180px;
	height: 46px;
	padding: 10px;
	border: 1px solid #f00;
	border-radius: 20px 0px 0px 20px;
	outline: none;
}
.index_search div button{
	width: 70px;
	height: 46px;
	border: 1px solid #f00;
	border-radius: 0px 20px 20px 0px;
	color: #fff;
	font-size: 20px;
	background-color: #f00;
	outline: none;
}
.index_search_right{
	margin-top: 38px;
}
.index_search_right span{
	margin-right: 10px;
}
.index_search_right span a{
	color: #000;
	font-size: 20px;
}
.index_search_right .search_one{
	color: #f00;
}